/*global style*/
body, html {
    padding: 0;
    margin: 0;
    font-family: Times, Arial;
}

#mainWrap {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #cfcaca;
}

#wrap {
    width: 1920px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}

.clear {
    clear: both;
}

/*style for header*/
header {
    width: 1920px;
    padding: 0;
    position: relative;
}

#imgHeader {
    padding: 0;
}

#imgHeader img {
    float: left;
    width: 100%;
    height: 850px;
}

#caption {
    position: absolute;
    text-align: center;
    top: 150px;
    left: 31%;
    color: white;
}

#caption h1 {
    font-size: 6em;
    margin: 20px 0;
}

#caption p {
    font-size: 2.5em;
    margin: 20px 0;
}
#captionParag2 {
    /*font-family: "Comic Sans MS";*/
    font-style: oblique;
}

#headerButton {
    position: absolute;
    top: 550px;
    left: 38%;

}

#headerButton button {
    padding: 30px 0;
    font-weight: bold;
    width: 250px;
    text-align: center;
    font-size: 1.6em;
    border-radius: 0;
}

#headerButton button:hover {
    background-color: #fff200;
}

#buttonHire {
    margin-right: 40px;
}

#content {
    width: 100%;
    background-color: white;
}

.blockAboutUs {
    float: left;
    /*border: 1px solid black;*/
    /*box-sizing: border-box;*/
    width: 29%;
    margin: 60px 0 20px 40px;
    min-height: 450px;
    padding: 15px;
}

.blockAboutUs img {
    width: 430px;
    height: 430px;
    margin-left: 60px;
}

#block1 h3 {
    margin-left: 18%;
}

#block2 h3 {
    margin-left: 16%;
}

#block3 h3 {
    margin-left: 25%;
}

.blockAboutUs h3 {
    color: darkgray;
    font-size: 2.3em;

}

.blockAboutUs p {
    color: grey;
    font-size: 1.5em;
    text-align: center;
}

#textMonitorSlider h3 {
    color: #1378cc;
    font-size: 3.5em;
    text-align: center;
    font-family: Arial;
    margin: 45px 0 55px 0;
}

#monitorSlider {
    width: 1600px;
    margin: 25px auto 0 auto;
}

.imgSlider {
    width: 1500px;
    height: 900px;
    margin: 0 auto;
}

#blockStartProject {
    width: 100%;
    height: 250px;
    background-color: #299bc5;
    color: white;
}

#textStartProject {
    float: left;
    width: 75%;
    text-align: center;
}

#textStartProject h4 {
    font-size: 3.5em;
    margin: 75px 0 0 0;
}

#textStartProject p {
    text-align: left;
    margin: 0 0 0 203px;
    font-size: 2.1em;
}

#buttonStartProject {
    float: right;
}

#buttonStartProject button {
    width: 300px;
    height: 100px;
    margin: 90px 180px 0 0;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.2em;
}

#buttonStartProject button:hover {
    background-color: #fff200;
}

#ourTeam {
    margin-top: 120px;
}

#textOurTeam h4 {
    margin: 0 0 0 120px;
    font-size: 2.2em;

}

#ourTeamLocations {
    margin-top: 50px;
}

.iconOurTeam {
    display: inline-block;
    min-height: 150px;
    padding: 12px;
    margin: 0 0 0 90px;
    text-align: center;

}

.iconOurTeam img {
    width: 250px;
    height: 300px;
}

.iconOurTeam p {
    font-size: 1.6em;
    /*margin: 15px;*/
}

.appointment {
    color: red;
    margin: -15px 0 0 0;

}

.namePerson {
    margin: 15px;
}

#hiring {
    margin: 100px 0 0 0;
    position: relative;
}

#hiring img {
    width: 100%;
    height: 300px;
}

#textHiring {
    position: absolute;
    top: 20px;
    color: white;

}

#textHiring h2 {
    font-size: 4.5em;
    margin-left: 130px;
}

#textHiring p {
    font-size: 2.3em;
    margin: -50px 0 0 130px;
}


#buttonHiring {
    position: absolute;
    top: 90px;
    right: 150px;
}


#buttonHiring button {
    width: 400px;
    height: 120px;
    font-size: 1.8em;
    font-weight: bold;
    border-radius: 7px;
}

#buttonHiring button:hover {
    background-color: #fff200;
}